<footer class="bg-dark text-light py-5 mt-auto">
  <div class="container text-center">

    <!-- Social Icons Layer -->
    <div class="mb-4">
      <a href="#" class="text-light fs-4 mx-3 text-decoration-none">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="#" class="text-light fs-4 mx-3 text-decoration-none">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="#" class="text-light fs-4 mx-3 text-decoration-none">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>

    <!-- Ownership Layer -->
    <p class="mb-1 text-center">Made & Owned by <strong>Aadarsh Kushwaha</strong></p>

    <!-- Copyright -->
    <p class="mb-1 text-center">&copy; 2025 Caffenity Pvt. Ltd. | All Rights Reserved.</p>

    <!-- Privacy Layer -->
    <a href="#" class="text-light text-decoration-none d-block text-center">
      Privacy Policy · Terms & Conditions
    </a>

  </div>
</footer>