<footer class="bg-dark text-light py-4 mt-auto">
  <div class="container text-center">

    <!-- Social Icons -->
    <div class="mb-3">
      <a href="/" class="text-light fs-4 mx-2 text-decoration-none">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="/" class="text-light fs-4 mx-2 text-decoration-none">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="/" class="text-light fs-4 mx-2 text-decoration-none">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>

    <!-- Text and Links -->
    <div>
      <div class="mb-1">&copy; Caffenity Pvt Ltd</div>
      <a href="/" class="text-light text-decoration-none">Privacy Terms</a>
    </div>

  </div>
</footer>
