<div class="custom-navbar">
  <div class="custom-logo d-flex align-items-center">
    <span class="material-symbols-outlined coffee-icon">coffee</span>
    <span class="ms-2" style="font-size: 20px; color: white;">Caafinity</span>
  </div>

  <div class="links-container d-flex flex-grow-1 text-decoration-none">
    <div class="left-links d-flex mt-3">
      <a href="/home">Home</a>
      <a class="ms-4" href="/menu">Menu</a>
      <a class="ms-2" href="/about">About</a>
      <a class="ms-2" href="/pages">Pages</a>
      <a class="ms-2" href="/connect">Contact Us</a>
    </div>

    <div class="flex-grow-1"></div>

  <div class="auth-section d-flex align-items-center">

  <a href="/login" class="btn btn-link">Login</a>

  <a class="ms-auto mt-1 d-block material-symbols-outlined" 
     style="font-size: 40px;" href="/cart">
    local_mall
  </a>

</div>

  </div>
</div>
<style>
.custom-navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 5px 10px;
    color: white;
}

.custom-logo {
    display: flex;
    align-items: center;
}

.coffee-icon {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 36px;
    color: #f5deb3;
}

.links-container a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.links-container a:hover {
    text-decoration: underline;
}


</style>