<div class="navbar">
    <!-- Logo left -->
  <div class="logo d-flex align-items-center">
    <span class="material-symbols-outlined coffee-icon">coffee</span>
    <span class="ms-2" style="font-size: 20px; color: white;">Caafinity</span>
</div>



    <!-- Links container with flex -->
    <div class="links-container d-flex flex-grow-1 text-decoration-none">
        <!-- Left aligned links -->
        <div class="left-links d-flex text-decoration-none">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Shop</a>
             <a href="#">Pages</a>
            <a href="#">Blog</a>
            <a href="#">Contact Us</a>
            <a class="material-symbols-outlined">local_mall</a>
        </div>
        

        <!-- Spacer -->
        <div class="flex-grow-1"></div>

        <!-- Right aligned links -->
        <div class="right-links d-flex">
           
        </div>
    </div>
</div>

<style>
.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 5px 10px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.coffee-icon {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    font-size: 36px;
    color: #f5deb3;
}
.left-links a,
.right-links a {
    text-decoration: none !important;
}
.links-container a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.links-container a:hover {
    text-decoration: underline;
}
</style>
