<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error <%= err.statusCode %></title>
</head>
<body>
  <h1>Error <%= err.statusCode %></h1>
  <p><%= err.message %></p>
  <a href="/home">Go Back Home</a>
</body>
</html>
