<% layout('layouts/boilerplate') %>

<div class="coffee-container">

    <% if (coffee.image) { %>
        <div class="coffee-image">
            <img src="<%= coffee.image %>" alt="<%= coffee.name %>">
        </div>
    <% } %>

</div>